[submodule "telebuzzy-solidity/lib/forge-std"]
	path = telebuzzy-solidity/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "telebuzzy-solidity/lib/openzeppelin-contracts-upgradeable"]
	path = telebuzzy-solidity/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "telebuzzy-solidity/lib/openzeppelin-foundry-upgrades"]
	path = telebuzzy-solidity/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "telebuzzy-solidity/lib/mydaogs-ecosystem-contracts"]
	path = telebuzzy-solidity/lib/mydaogs-ecosystem-contracts
	url = https://github.com/mydaogs/mydaogs-ecosystem-contracts
